@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

/* Nav start */

nav{
    width: 100%;
    height: auto;
    padding: 10px;
    /* position: fixed; */
}

.nav-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 30%;
    display: flex;
    padding: 20px;
    align-items: center;
}

.logo-con1 h3{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.logo-con2{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 37, 226);
    margin-left: 3px;
}

.logo-con2 h3{
    font-size: 20px;
    color: white; 
    cursor: pointer; 
}

.nav-links{
    width: 70%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.navLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navLinks ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navLinks ul li{
    margin-right: 20px;
    list-style: none;
}

.navLinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(167, 163, 163);
    font-weight: 500;
    transition: .5s;
}

#active{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.nav-btn{
    width: 30%;
    display: flex;
    align-items: center;
}

.nav-btn button{
    width: 100%;
    margin: auto;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(103, 37, 226);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.nav-btn button:hover{
    background-color: rgb(8, 224, 8);
}

.navLinks ul li a:hover{
    color: black;
}

.nav-search{
    width: 100%;
    margin-top: 40px;
}

.search-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ser-space{
    width: 80%;
}

.ser-in{
    width: 30%;
    padding: 0px 0px;
    border: solid 2px rgb(103, 37, 226);
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.ser-in i{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
    color: rgb(103, 37, 226);
}

.ser-in input{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    color: rgb(103, 37, 226);
    cursor: pointer;
}

/* Nav End */

/* Banner Start */
.banner{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.banner-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.banner-con{
    width: 50%;
    height: auto;
    padding-right: 5px;
}

.bannerCon{
    width: 100%;
    height: auto;
}

.bannerCon p{
    font-size: 16px;
    color: blue;
}

.bannerCon h1{
    font-size: 35px;
    font-weight: 1000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.bannerCon h1 span{
    text-decoration: underline solid 7px rgb(255, 174, 0);
}

.bannerCon h3{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(143, 140, 140);
}

.banner-btns{
    margin-top: 20px;
    display: flex;
}

.banner-btns button{
    padding: 15px 30px;
    font-size: 16px;
    border: solid 1px rgb(103, 37, 226);
    cursor: pointer;
    transition: .5s;
}

.banner-star button{
    background-color: rgb(103, 37, 226);
    color: white;
}

.banner-renew button{
    background-color: white;
    color: rgb(103, 37, 226);
}

.banner-btns:hover .banner-star button{
    background-color: white;
    color: rgb(103, 37, 226);
}

.banner-btns:hover .banner-renew button{
    background-color: rgb(103, 37, 226);
    color: white;
} 

.banner-img{
    width: 50%;
}

.bannerImg{
    width: 100%;
}

.bannerImg img{
    width: 100%;
    /* padding: 50px; */
}

.banner-foot{
    padding-top: 30px;
    text-align: center;
}

.banner-foot p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(103, 37, 226);
    cursor: pointer;
}

.banner-foot i{
    font-size: 25px;
    padding-left: 5px;
    transition: .5s;
}

.banner-foot p:hover i{
    color: rgb(8, 224, 8);
}
/* Banner End */

/* OurMission Start */
.ourMission{
    width: 100%;
    margin-top: 50px;
    background-color: white;
    position: relative;
}

.ourMissionCon{
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    position: relative;
    padding: 20px 0px;
}

.ourMissionCon h1{
    text-decoration: underline solid 5px rgb(255, 174, 0);
    font-size: 25px;
    font-weight: 1000;
}

.ourMissionCon p{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
    padding-top: 10px;
    color: rgb(170, 165, 165);
    
}

.position-imgs{
    position: absolute;
    top: 0;
    left: 0;    
}

.position-imgs img{
    width: 250px;
    height: 250px;
}

.position-circle{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
}

.position-circle img{
    filter: blur(100);
}
/* OurMission End */

/* Company start */
.company{
    width: 100%;
    margin-top: 50px;
}

.companyBoxsFlex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.companyBox1{
    width: 33.3%;
}

.companyBox2{
    width: 33.3%;
}

.companyBox3{
    width: 33.3%;
}

.companyBox1Con{
    width: 80%;
    margin: auto;
    
}

.companyBox2Con{
    width: 80%;
    margin: auto;
}

.companyBox3Con{
    width: 80%;
    margin: auto;
}

.companyBox1Con img{
    width: 35px;
    height: 35px;
}

.companyBox2Con img{
    width: 35px;
    height: 35px;
}

.companyBox3Con img{
    width: 35px;
    height: 35px;
}

.companyBox1Con h1{
    padding: 20px 0px;
    font-size: 18px;
}

.companyBox2Con h1{
    padding: 20px 0px;
    font-size: 18px;
}

.companyBox3Con h1{
    padding: 20px 0px;
    font-size: 18px;
}

.companyBox1Con p{
    font-size: 14px;
    line-height: 20px;
    /* text-align: start; */
    padding-bottom: 10px;
}

.companyBox2Con p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}

.companyBox3Con p{
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}

.companyBox1Con a{
    text-decoration: none;
    color: rgb(255, 174, 0);
    transition: .5s;
}

.companyBox2Con a{
    text-decoration: none;
    color: rgb(255, 174, 0);
    transition: .5s;
}

.companyBox3Con a{
    text-decoration: none;
    color: rgb(255, 174, 0);
    transition: .5s;
}

.companyBox1Con a:hover{
    color: rgb(8, 224, 8);
}

.companyBox2Con a:hover{
    color: rgb(8, 224, 8);
}

.companyBox3Con a:hover{
    color: rgb(8, 224, 8);
}

/* Company End */

/* Services Start */
.services{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.ser-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ser-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ser-right{
    width: 50%;
}

.serLeft{
    width: 80%;
    margin: auto;
}

.serHead{
    width: 100%;
    height: auto;
}

.serHead p{
    font-size: 18px;
    font-weight: 700;
    color: black;
    line-height: 25px;
    padding-bottom: 10px;
}

.serHead a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(37, 56, 226);
    transition: .5s;
}

.serHead a:hover{
    color: rgb(8, 224, 8);
}

.serLeftBox1{
    width: 100%;
    margin-top: 50px;
    border: solid 1px 
    rgb(173, 169, 169);
    padding: 50px;
    border-radius: 5px;
}

.serLeftImg1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serLeftBox1 h1{
    font-size: 18px;
    font-weight: 800;
    margin-top: 20px;
}

.serLeftBox1 p{
    margin-top: 20px;
    line-height: 20px;
    font-size: 16px;
    color: rgb(151, 147, 147);

}

.serLeftBox1 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: rgb(95, 108, 231);
    /* padding-top: 20px; */
}

.serLeftBox1 a i{
    font-size: 30px;
    /* font-weight: 800; */
    color: rgb(37, 56, 226);
    padding-left: 10px;
}

.serLeftBox2{
    width: 100%;
    margin-top: 150px;
    border: solid 1px 
    rgb(173, 169, 169);
    padding: 50px;
    border-radius: 5px;
}

.serLeftImg2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serLeftBox2 h1{
    font-size: 18px;
    font-weight: 800;
    margin-top: 30px;
}

.serLeftBox2 p{
    margin-top: 20px;
    line-height: 20px;
    font-size: 16px;
    color: rgb(151, 147, 147);

}

.serLeftBox2 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: rgb(95, 108, 231);
}

.serLeftBox2 a i{
    font-size: 30px;
    color: rgb(37, 56, 226);
    padding-left: 10px;
}

.ser-right{
    width: 50%;
}

.serRight{
    width: 80%;
    margin: auto;
}

.serRightBox1{
    width: 100%;
    border: solid 1px rgb(173, 169, 169);
    padding: 50px;
    border-radius: 5px;
}

.serRightImg1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.serRightBox1 h1{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

.serRightBox1 p{
    margin-top: 30px;
    font-size: 16px;
    color: rgb(167, 162, 162);
}

.serRightBox1 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: rgb(95, 108, 231);
    line-height: 50px;
    display: flex;
    align-items: center;
}

.serRightBox1 a i{
    font-size: 30px;
    color: rgb(37, 56, 226);
    margin-left: 10px;
    
}

.serRightBox2{
    width: 100%;
    border: solid 1px rgb(173, 169, 169);
    padding: 50px;
    border-radius: 5px;
    margin-top: 130px;
}

.serRightImg2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.serRightBox2 h1{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}

.serRightBox2 p{
    margin-top: 30px;
    font-size: 16px;
    color: rgb(167, 162, 162);
}

.serRightBox2 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: rgb(95, 108, 231);
    line-height: 50px;
    display: flex;
    align-items: center;
}

.serRightBox2 a i{
    font-size: 30px;
    color: rgb(37, 56, 226);
    margin-left: 10px;
    
}

.serRightFooter{
    margin-top: 30px;
}

.serRightFooter p{
    font-size: 18px;
    font-weight: 800;
}

.serRightFooter a{
    text-decoration: none;
    font-size: 18px;
    padding-top: 20px;
    color: rgb(37, 56, 226);
    display: flex;
    align-items: center;
}

.serRightFooter a i{
    font-size: 30px;
    color: rgb(37, 56, 226);
}
/* Services End */
