@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    width: 100%;
    height: auto;
    padding: 10px;
    /* border: 1px solid red; */
}

.nav-flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    width: 30%;
    display: flex;
    padding: 20px;
    align-items: center;
}

.logo-con1 h3{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.logo-con2{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 37, 226);
    margin-left: 3px;
}

.logo-con2 h3{
    font-size: 20px;
    color: white; 
    cursor: pointer; 
}

.nav-links{
    width: 70%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.navLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navLinks ul{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navLinks ul li{
    margin-right: 20px;
    list-style: none;
}

.navLinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(167, 163, 163);
    font-weight: 500;
    transition: .5s;
}

#active{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.nav-btn{
    width: 30%;
    display: flex;
    align-items: center;
}

.nav-btn button{
    width: 80%;
    margin: auto;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgb(103, 37, 226);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.nav-btn button:hover{
    background-color: rgb(8, 224, 8);
}

.navLinks ul li a:hover{
    color: black;
}
